a{
	color:black;
	text-decoration: none;
}
.header{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background: white;
	color: #fff;
	font-family: Rubik;
}
.header_section{
	display: flex;
	align-items: center;
	margin-right: 50px;
}

.header_item{
	padding: 10px 15px;
	font-size: 15px;
	margin-left: 50px;
	font-family: Rubik;
}
.header_item1{
	font-weight: bold;
	font-size: 40px;
}
.header_item1{
	font-weight: bold;
	font-size: 40px;
}
